@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00bfff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper__container {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.TodoForm__container {
  width: 100%;
  margin-bottom: 1rem;
}

.TodoForm__input {
  outline: none;
  background: none;
  border: 1px solid #00bfff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.TodoForm__container::placeholder {
  color: #ffffff4d;
}

.TodoForm__btn {
  background: #00bfff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.TodoInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00bfff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.TodoInput__complete {
  color: #c5aeff;
  text-decoration: line-through;
}
